@model Rantau.Models.Pasien

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pasien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoRekamMedis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoRekamMedis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaDepan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaDepan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaBelakang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaBelakang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTeleponUtama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTeleponUtama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTeleponAlternatif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTeleponAlternatif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisPembayaran)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisPembayaran)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPernikahan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPernikahan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TingkatPendidikan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TingkatPendidikan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiwayatMerokok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiwayatMerokok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaktuTempuhRS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaktuTempuhRS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pemeriksa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pemeriksa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PasienID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Kembali</a>
    </form>
</div>
